@charset "UTF-8";


/* General Styles */
body {
  background-color: #F3F3F3;
  height: 100%;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 50px 0 0; 
  position: relative;
}

header a {
  margin-left: 50px; 

}

header .menu-page {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 50px;
  display: flex; /* Ensure flexbox for centering */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .menu-page span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
}

header .menu-page .bar2 {
  margin: 5px auto;
}


/* Magazine main */

.magazine-detail {
  text-align: center;
  width: 60%;
  position: relative;
  margin: 100px auto 0;
}

.magazine-box {
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.magazine-box img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.magazine-txtbox {
  text-align: left;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-radius: 20px;
  min-width: 350px;
  min-height: 200px;
}

.magazine-txtbox-top {
  width: 100%;
  height: 500px;
  background-color: #fff;
  text-align: left;
  position: absolute;
  padding: 50px;
}

.magazine-txtbox.txtbox1 {
  background-color: var(--color-point-orange);
}

.magazine-txtbox.txtbox2 {
  background-color: var(--color-point-pink);
}

.magazine-txtbox.txtbox3 {
  background-color: var(--color-point-yellow);
}

.magazine-txtbox a {
  grid-column: 2 / 3;
  border: 1px solid #000;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #000;
  align-self: center;
}

.magazine-txtbox a.close{
  display: none;
}
.magazine-txtbox a:hover{background-color: #000000; color: #fff;}

.magazine-box p {
  max-width: 70%;
  margin: 60px auto 0;
  line-height: 2;
  word-break: keep-all;
}
.magazine-txtbox-text h3 {font-family: var(--font-m-en);}
.magazine-txtbox-text p {
  margin: 20px 0;
}

.magazine-imgbox {
  width: 100%;
  height: 100%;
  background: no-repeat center/contain;
  background-image: url(../images/magazine-img/메거진이미지배열.png);
  margin: 20px 0;
}

.magazine-box img:first-child {
  margin-top: 800px;
}

.magazine-txtbox-contents {
  padding-bottom: 50px;
}

.magazine-txtbox-contents p {
  width: 50%;
  margin: 50px auto;
  word-break: keep-all;
}

/* Footer */
footer p {
  width: 70%;
  line-height: 1.2;
  text-align: center;
  margin: 100px auto 0 ;
  font-size: .8rem;
  color: #414141;
  margin-bottom: 50px;
}


.magazine-txtbox-contents.contents1,.magazine-txtbox-contents.contents2,.magazine-txtbox-contents.contents3,.magazine-txtbox-top{
  display: none;}



/******* mo 화면 ********/
@media (max-width:450px){
  body{height: 100vh;}
  main{text-align: center; margin: 0 auto;}
  header .menu-page{
    right: -5%;
  }
  .magazine-detail{
    width: 80%;
    margin: 100px auto;
    text-align: center;
  }
  .magazine-txtbox{
    margin: 0 auto;
    padding: 30px 20px;
  }
  .magazine-txtbox-text p {
    
    line-height: 1.3;
    word-break: keep-all;
    font-size: var(--font-mobile-md);
  }

  footer p {font-size: var(--font-mobile-sm); height: 100%; padding-bottom: 20px;}
}