@charset "UTF-8";
/* body{overflow-x: hidden;} */
/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 9999;
}
header .logo-img{
  position: absolute;
  left: 30px;
  top: 30px;
}
header .menu-page {
  background-color: #000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  place-content: center;
}
header .menu-page span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin-left: 20px;
  margin: 5px 17px 5px;
}


header.none{
  opacity: 0;
  transition: 2s;
}


