@charset "UTF-8";
/*************** main-bg 이미지 텍스트 효과 ***************/
.container{
  height: 100vh;
  overflow: hidden;
}
.container .btn{
  background: url(../images/main-img/main-bg-btn.png) no-repeat 50%;
  background-size: 70%;
  position: absolute;
  z-index: 9999;
  top: 475px;
  left: 775px;
  width: 90px;
  height: 90px;
  margin: 0;
  color: transparent;
}
.container .btn.on{
  background: url(../images/main-img/별.png) no-repeat 50%;
  background-size: 50%;
  left: 775px;
  animation: spin 7s linear infinite; /* spin 애니메이션 적용 */
}

/***** 별 움직임 ******/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .bg-img{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.wrapper{
  position: relative;
  width: 100vw;
  margin: 100px 0 100px 10px;
}
.sub-main .sub-main-container {
  margin: 0 auto 500px;
  max-width: 1920px;
  padding: 0 16px;
  display: flex;
}
.sub-main .sub-main-container .sub-main-box1 {
  position: absolute;
  top: 0; left: 0;
}
.sub-main .sub-main-container .sub-main-box1 img {
  transform: rotate(0);
  transition: .1s;
}
.sub-main .sub-main-container .sub-main-box1 img:hover {
  transform: rotate(10deg);
}
.sub-main .sub-main-container .sub-main-box1 .sub-main-img-bg {
  background-color: #FF9168;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: -99;
  transition: all .3s;
  transform: scale(0);
}
.sub-main .sub-main-container .sub-main-box1 .sub-main-img-bg.active {
  transform: scale(1);
}
.sub-main .sub-main-container .sub-main-txt {
  background-color: #000;
  color: #fff;
  width: 250px;
  font-size: var(--font-title-lg);
  font-family: var(--font-m-en);
  font-weight: bold;
  font-size: 55px;
  margin: 10px 0;
  line-height: 0.9;
  /* transition: 1s 0.8s; 진행시간 대기시간 */
  transform: translateY(50px);
  opacity: 0;
}
.sub-main .sub-main-container .sub-main-box2 img {
  transform: rotate(0);
  transition: .1s;
}
.sub-main .sub-main-container .sub-main-box2 img:hover {
  transform: rotate(15deg);
}
.sub-main .sub-main-container .sub-main-box2 .sub-main-txt {
  left: 46%;
  bottom: 90px;
}
.sub-main .sub-main-container .sub-main-box3 .sub-main-txt {
  right: 0;
  bottom: 13%;
}
.sub-main .sub-main-container .sub-main-box1 .sub-main-txt.active,
.sub-main .sub-main-container .sub-main-box2 .sub-main-txt.active,
.sub-main .sub-main-container .sub-main-box3 .sub-main-txt.active {
  opacity: 1;
  transform: rotate(0) scaleX(1);
}
.sub-main .sub-main-container .sub-main-box2 {
 margin: 0 auto;
 transition: all 0.1s;
}
.sub-main .sub-main-container .sub-main-box2 .sub-main-img-bg{
  background-color: #FF9EAA;
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -99;
  transition: all .3s;
  transform: scale(0);
}
.sub-main .sub-main-container .sub-main-box2 .sub-main-img-bg.active {
  transform: scale(1);
}
.sub-main .sub-main-container .sub-main-box3 {
  position: absolute;
  bottom: -55%;
  right: -50px;
  transition: all 0.1s;
}
.sub-main .sub-main-container .sub-main-box3 img {
  transform: rotate(0);
  transition: .1s;
}
.sub-main .sub-main-container .sub-main-box3 img:hover {
  transform: rotate(10deg);
}
.sub-main img {
  width: 90%;
}
.sub-main .sub-main-container .sub-main-box3 .sub-main-img-bg {
  background-color: #FFCE51;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  right: 18%;
  bottom: 20%;
  z-index: -99;
  transition: all .3s;
  transform: scale(0);
}
.sub-main .sub-main-container .sub-main-box3 .sub-main-img-bg.active {
  transform: scale(1);
}
.sub-main .sub-main-slide {
  width: 200%;
  height: 50px;
  position: absolute;
  top: 60%;
  font-size: var(--font-title-md);
  font-family: var(--font-m-en);
  margin-top: 30px;
}




.wrapper .txt-wrapper.active span,
.wrapper .txt-wrapper.active h2{
  opacity: 1;
  transform: translateY(0);
}



.wrapper {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-wrapper {
  display: none;
}

.txt-wrapper.active {
  display: block;
}

.main-box-img{
  margin-left: 33px;
}
.sub-main .sub-main-container .sub-main-box3 .info-box.active {
  opacity: 1;
}
