@charset "UTF-8";

  /* *** fonts *** */
  /* 'Pretendard' ,sans-serif */
  @import url(../asset/styles/pretendard-subset.css);

  
  /* 
    *font-family: "Montserrat", sans-serif;
    *font-optical-sizing: auto;
    *font-weight: <weight>;
    *font-style: normal;
    */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

  /**** CSS 변수 *****/
:root{

  /* font */
  --font-m-ko: 'Pretendard', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial ,sans-serif;
  --font-m-en: "Montserrat", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", Arial ,sans-serif;

/***** font-size ****/
  --font-title-xlg : 80px;
  --font-title-lg: 60px;
  --font-title-md: 50px;
  --font-title-sm: 1rem;

  --color-point-orange: #FF9168;
  --color-point-pink: #FF9EAA;
  --color-point-yellow: #FFCE51;
}
